* {
  box-sizing: border-box;
}

body {
  /* margin: 100px; */
}

.bomb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.help {
  background-color: red;
  border-radius: 50%;
}

.gamePlace {
  width: 750px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #424242;
}

.counter {
  /* width: 100px; */
  height: 100px;
  background-color: rgb(20, 161, 154);
  display: flex;
  justify-content: center;
}

.counterText {
  color: #fff;
  font-size: 40px;
}

.excel {
  width: 25px;
  height: 25px;
  padding: 2.5px;
}

.snakeBody {
  background: tomato;
  border-radius: 50%;
}

.gameOwer {
  background: green;
}

.head {
  background: skyblue;
  border-radius: 20%;
}

.mouse {
  background: #e3e;
  border-radius: 50%;
  /* border-radius: ; */
}
